body {
    background: #0F0F0F;
    color: #F0EBE0;
}

img {
    max-height: 25px;
}

nav.navbar > * {
    color: #F0EBE0 !important;
}

input {
    border: 1px solid #0F0F0F;
    border-radius: 5px;
    background-color: #F0EBE0;
    color: #0F0F0F;
}

input.disabled::placeholder {
    color: #F0EBE0 !important;
}

.custom-select {
    background-color: #F0EBE0;
    color: #0F0F0F;
}

.big {
    font-weight: 900;
}

td {
    font-weight: 700;
}

tr {
    max-height: 25px;
}

.disabled {
    border: 1px solid #F0EBE0;
    background-color: #0F0F0F !important;
    color: #F0EBE0 !important;
    transition: all 0.2s ease;
}

td a {
    color: #a335ee;
}
